/******************************************
/* Normalizing styles
/*******************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************
/* Box model hack
/*******************************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/******************************************
/* Base styles
/*******************************************/

html {
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

input {
	padding: 0.5rem;

}

span {
	font-size: 18px;
}

.logo {
	position: relative;
	top: -2rem;
	left: 2rem;
}

/******************************************
/* Navbar styles
/*******************************************/

.navbar-container {
	position: relative;
	margin-top: 2rem;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.signout-link {
	margin-right: 2rem;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 1em;
	/* this increases the clickable area for <Link> */
	margin-right: 4em;
	text-decoration: none;
	color: black;
}

.userprofile-link {
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 1em;
	/* this increases the clickable area for <Link> */
	/* margin: -2em; */
	text-decoration: none;
	color: black;
}

.home-link {
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 1em;
	/* this increases the clickable area for <Link> */
	/* margin: -2em; */
	text-decoration: none;
	color: black;
}

/******************************************
/* Login styles
/*******************************************/

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 60px;
	align-items: center;
	border: 1px solid black;
	width: 40rem;
	height: 613px;
	margin: auto;
	margin-top: 2rem;
	border-radius: 30px;
}

.login-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.login-inputs {
	width: 20rem;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 15px;
}


.login-button {
	width: 10rem;
	height: 35px;
	background-color: #FFECA0;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;

}

.welcome-text {
	font-size: 20px;
}

.create-account {
	text-decoration: underline;
}

/* .cinema-img {
	position: fixed;
	top: 500px;
	right: 800px;
	width: 650px;
	height: 550px;
} */

/******************************************
/* Home styles
/*******************************************/

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-container {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 320px;
}

.otherUserPhoto {
	width: 100%;
	height: auto
}

.otherUserInfo {
	display: flex;
	flex-direction: column;
}


/******************************************
/* UserProfile styles
/*******************************************/



/******************************************
/* Other styles
/*******************************************/

.bold {
	font-weight: 1000;
}